{% extends "base.html" %}
{% load bootstrap4 %}

{% block title_block %}
Login
{% endblock %}

{% block body %}

<div class="jumbotron">
  <h1>Login</h1>
</div>
<div class="container">
  <form action="{% url 'login' %}" method="post">
    {% csrf_token %}
    {% bootstrap_form form %}
    {% bootstrap_button "Login" button_type="submit" button_class="btn-primary" %}
    <input type="hidden" name="next" value="{{ next }}" />
  </form>
  <p><a href="{% url 'password_reset' %}">Lost password?</a></p>
</div>

{% endblock %}
