{% extends "base.html" %}

{% block title_block %}
Password Change
{% endblock %}

{% block body %}
<div class="jumbotron">
  <h4>Password changed!</h4>
</div>
<div class="container">
  <p>Successfully changed the password. </p>
</div>
{% endblock %}
