{% extends "base.html" %}

{% block title_block %}
Password Reset
{% endblock %}

{% block body %}
<div class="jumbotron">
  <h1>The Password Reset Complete!</h1>
</div>
<div class="conatiner">
  <p>Your password has been set. You may go ahead and log in now.</p>
  <p><a href="{% url 'login' %}">Log in</a></p>
</div>
{% endblock %}
