{% extends "base.html" %}
{% load bootstrap4 %}

{% block title_block %}
Password Change
{% endblock %}

{% block body %}
<div class="jumbotron">
  <h3>Change Password</h3>
</div>

<div class="container">
  <form action="" method="POST">
    {% csrf_token %}
    {% bootstrap_form form %}
    <input type="submit" class="btn btn-primary btn-lg" value="Change password">
  </form>
</div>
{% endblock %}
