{% extends "base.html" %}
{% load bootstrap4 %}

{% block title_block %}
Password Reset
{% endblock %}

{% block body %}
<div class="jumbotron">
  <h1>Password Reset</h1>
</div>
<div class="container">
  <form action="" method="POST">
    {% csrf_token %}
    {% bootstrap_form form %}
    <input type="submit" class="btn btn-default btn-lg" value="Reset password">
  </form>
</div>
{% endblock %}
