{% extends "base.html" %}
{% load bootstrap4 %}

{% block title_block %}
Password Reset
{% endblock %}

{% block body %}

{% if validlink %}

<div class="jumbotron">
  <h1>Password Reset</h1>
</div>
<div class="container">
  <p>Please enter (and confirm) your new password.</p>
  <form action="" method="post">
    {% csrf_token %}
    {% bootstrap_form form %}
    <input type="submit" class="btn btn-default btn-lg" value="Change my password" />
  </form>
</div>

{% else %}
<div class="jumbotron">
  <h1>Password reset failed</h1>
</div>
<div class="container">
  <p>The password reset link was invalid, possibly because it has already been used. Please request a new password reset.</p>
</div>

{% endif %}

{% endblock %}
