{% extends 'base.html' %}

{% block body %}
<div class="jumbotron">

  <h1>Delete Team: {{team.name }}?</h1>

</div>
<div class="container">
<p>Are you sure to delete Team?</p>
  <form method="post">
    {% csrf_token %}
    <input type="submit" class="btn btn-danger" value="Delete">
    <a href="{% url 'team:team_detail' pk=team.id %} ">Cancel</a>
  </form>
</div>
{% endblock %}
