{% extends 'base.html' %}
{% load bootstrap4 %}

{% block title_block %}
Employees List
{% endblock %}

{% block body %}
<div class="jumbotron">
  <h1>List of Compant Employees</h1>
</div>
<div class="container">

  <table class="table table-striped">
    <thead>
      <tr>
        <th>TeamName</th>
        <th>Lead</th>
        <th>Members</th>
        <th class="text-center">Edit/Delete</th>
      </tr>
    </thead>
    <tbody>
      {% for team in teams %}
      <tr>
        <td>
          {{ team.name }}
        </td>
        <td>
          {{ team.lead }}
        </td>
        <td>
          {% for mem in team.members.all %}
          <p>{{ mem }}</p>
          {% endfor %}
        </td>
        <td class="text-center">
          <a href="{% url 'team:team_edit' pk=team.id %}"><span class="fas fa-pencil-alt" title="Edit Team"></span></a>
          /
          <a href="{% url 'team:team_delete' pk=team.id %}"><span class="fas fa-trash" title="Delete Team"></span></a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
</div>
{% endblock %}
