{% extends 'base.html' %}
{% load bootstrap4 %}

{% block title_block%}

{% if not form.instance.pk %}
Add Team
{% else %}
Update Team
{% endif %}
{% endblock %}


{% block body %}

<h1>
  <div class="jumbotron">
    {% if not form.instance.pk %}
    Add Team
    {% else %}
    Update Team
    {% endif %}
</h1>
</div>
<div class="container">
  <form class="" method="POST">
    {% csrf_token %}
    {% bootstrap_form form %}
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>

{% endblock %}
