{% extends 'base.html' %}

{% block title_block %}
Team DetailPage
{% endblock %}

{% block body %}

<div class="jumbotron text-center">
  <h1>{{ team_details.name }}'s Details</h1>
</div>
<div class="container">
  <div class="card w-75">
    <div class="card-header">Team Name</div>
    <div class="card-body">
      <h5 class="card-title">{{ team_details.name}}</h5>
    </div>
  </div>
  <p />
  <div class="card w-75">
    <div class="card-header">Team Lead</div>
    <div class="card-body">
      <h5 class="card-title">{{ team_details.lead}}</h5>
    </div>
  </div>
  <p />
  <div class="card w-75">
    <div class="card-header">Team Members</div>
    <div class="card-body">
      <h5 class="card-title">
        {% for mem in team_details.members.all %}
        <p>{{ mem }}</p>
        {% endfor %}
      </h5>
    </div>
  </div>
</div>
{% if user.team == team_details %}
<p></p><a href="{% url 'team:team_edit' team_details.id %}" class="btn btn-warning">Update</a>
{% endif %}

{% endblock %}
