{% extends 'base.html' %}
{% load bootstrap4 %}

{% block title_block%}

{% if not form.instance.pk %}
Create Company
{% else %}
Update Company
{% endif %}
{% endblock %}


{% block body %}
<div class="jumbotron">
  <h1>
    {% if not form.instance.pk %}
    Add Company
    {% else %}
    Company Update
    {% endif %}
  </h1>
</div>
<div class="container">
  <form class="" method="POST">
    {% csrf_token %}
    {% bootstrap_form form %}
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>

{% endblock %}
