{% extends 'base.html' %}

{% block body %}
<div class="jumbotron">
  <h1>Companies Registered</h1>
</div>
<div class="container">

  <table class="table table-striped">
    <thead>
      <tr>
        <th>Company Name</th>
        <th>Comapny Address</th>
      </tr>
    </thead>
    <tbody>
      {% if user.is_superuser %}
      {% for comp in companys %}
      <tr>
        <td><a href="{% url 'registry:company_detail' comp.id %}">{{ comp.name }}</a></td>
        <td>{{comp.address}}</td>
      </tr>
      {% endfor %}
      {% else %}
      {% for comp in companys %}
      <tr>
        <td>{{ comp.name }}</td>
        <td>{{comp.address}}</td>
      </tr>
      {% endfor %}
      {% endif %}
    </tbody>
  </table>
</div>
{% endblock %}
