{% extends 'base.html' %}

{% block title_block %}
Company DetailPage
{% endblock %}

{% block body %}

<div class="jumbotron">
  <h1>{{ company_details.name }}'s Details:</h1>
</div>
<div class="container">
  <p>Name: {{ company_details.name}}</p>
  <p>Address: {{ company_details.address }}</p>
</div>

<a href="{% url 'registry:company_update' company_details.id %}" class="btn btn-warning">Update</a>
<a href="{% url 'registry:company_delete' company_details.id %}" class="btn btn-danger">Delete</a>
{% endblock %}
