{% extends 'base.html' %}
{% load bootstrap4 %}

{% block title_block %}
Employees List
{% endblock %}

{% block body %}
<div class="jumbotron">
  <h1>List of Compant Employees</h1>
</div>
<div class="container">

  <table class="table table-striped">
    <thead>
      <tr>
        <th>UserName</th>
        <th>Name</th>
        <th>Email</th>
        <th class="text-center">Delete</th>
      </tr>
    </thead>
    <tbody>
      {% for emp in employeeusers %}
      <tr>
        <td>
          {{ emp.username }}
        </td>
        <td>
          {{ emp.get_full_name }}
        </td>
        <td>
          {{ emp.email }}
        </td>
        <td class="text-center">
          <a href="{% url 'registry:employee_delete' emp.id %}"><span class="fas fa-trash" title="Delete Employee"></span></a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
</div>
{% endblock %}
