{% extends 'base.html' %}

{% block body %}
<div class="jumbotron">

  <h1>Delete Employee: {{employeeuser.username }}?</h1>

</div>
<div class="container">
<p>Are you sure to delete Team?</p>
  <form method="post">
    {% csrf_token %}
    <input type="submit" class="btn btn-danger" value="Delete">
    <a href="{% url 'registery:employee_list' %} ">Cancel</a>
  </form>
</div>
{% endblock %}
